#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
  border-bottom: 1px solid #ffffff1f;
}
.ant-layout-sider {
    background: #FDFEFF !important;
}

.dashboard-navbar-icon{
  height: 1em !important;
  background-color: red !important;
}

.dashboard-links{
  font-weight: 500 !important;
}

span.ant-menu-title-content {
  margin-left: 2em !important;
}

img.ant-menu-item-icon {
    height: 1.2em !important;
}

.profile-pic{
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    height: 11.9vh;
}

.profile-pic img{
    height: 3em;
}


.profile-pic .username{
  margin-left: 1em;
  margin-top: 0.3em;
  font-weight: 500; 
}

.profile-pic .role{
    color: #080000;
    opacity: 0.3;
    font-size: 0.9em;
    margin-left: 1em;
    margin-top: -1em;
}

.dark_mode_background .username{
    color: white !important;
}

.dark_mode_background .role{
    color: white !important;
}

.hide-icon-on{
  position: absolute;
  bottom: 1em;
  left: 2em;
  height: 1.4em;
  cursor: pointer;
}

.hide-icon-on span{
    color: white;
    position: relative;
    top: 0.8em;
    margin-left: 0.8em;
}

.dashboard-sidebar-routes{
  background-color: #FDFEFF;
  border-right: 1px solid #ffffff1c !important;
  position: sticky;
  top: 0;
  height: 100vh;
}

.dashboard-header{
  height: 12.2vh;
  padding: 1em !important;
}

.dark input.ant-input.ant-input-lg {
    background: transparent !important;
    color: white !important;
}

.dashboard-header h1{
    font-size: 1.5em;
    margin-left: 1em;
    font-weight: 600;
    margin-top: 0.6em;
}

.dashboard-header .search-input{
  background: #E8E8E834;
  border: none;
  border-radius: 10px;
  width: 25vw;
}

input.ant-input.ant-input-lg {
    background: #fafafa !important;
}

.dashboard-header .action-menu{
  margin-left: auto;
  width: 6em;
}

.dashboard-header .action-menu svg{
  cursor: pointer;
}

.dash-center-content-right{
  background-color: #FFFFFF;
  height: auto;
  margin-top: 1px;
  padding: 2em 4em;
}

.dash-center-content-left{
  background: #FCFDFFA0;
  height: 100vh;
}

header.ant-layout-header.site-layout-background.dashboard-header {
    position: sticky;
    top: 0;
    z-index: 8;
}

.dash-center-content-right .main-header{
  font-size: 1.6em;
  font-weight: normal;
}

.chart-container,.chart-container-2 {
    height: 62vh;
    font-size: 0.7em;
    box-shadow: 0px 3px 6px #98a4cb55;
    padding: 3em 0;
    padding-right: 2em;
    margin-top: 3em;
    border-radius: 8px;
}

.chart-container-2 {
    width: 62%;
}

.chart-container-2 h3 {
    margin-left: 2em !important;
}

.chart-container h3{
    color: #4A4949;
    font-size: 1.4em;
    margin-left: 3em;
    margin-bottom: 2em;
}

.dash-center-content-right .summary-container{
    background: #1B27AF;
    padding: 1em;
    margin-top: 3em;
    border-radius: 8px; 
    margin-bottom: 2em;
}

.dash-center-content-right .summary-container h4{
  font-size: 1em;
  font-weight: normal;
}
.dash-center-content-right .summary-container h2{
    font-size: 3em;
    font-weight: normal;
    margin: 11px 0 !important;
}
.dash-center-content-right .summary-container span{
  font-size: 0.8em;
  font-weight: normal;
}

.dash-center-content-right .summary-container:nth-child(2),
.dash-center-content-right .summary-container:nth-child(3){
  margin-left: 2em !important;
}

.dash-center-content-left .date-picker{
  padding-bottom:1em;
}

.dash-center-content-left .date-picker h3{
    font-size: 1.3em;
    text-align: center;
    margin-top: 1em;
    color: #001440;
    font-weight: normal;
}
 .contents .container{
    box-shadow: 0px 2px 2px #3565d329;
    border: 1px solid #0074890D;
    border-radius: 8px;
    font-size: 0.9em;
    background: white;
    padding: 1em;
    cursor: pointer;
    margin-top: 0.7em;
    margin: 1em;
    width: 90%;
}
 .contents .container p.action-type {
    color: #1E2022;
}
.contents p.action-time {
    color: #77838F;
    font-size: 0.8em;
    margin-top: -1em;
    margin-bottom: 0 !important;
}

.contents svg{
  margin-top: 0.8em;
}

.bg_transparent p.action-type{
  color: white !important;
}

.bg_transparent p.action-time{
  color: rgba(255, 255, 255, 0.582) !important;
}



/* dark theme styles  */

.dark_mode_background .chart-container {
    background: #1B27AF1C;
    box-shadow: none;
}

.ant-col.ant-col-6.dash-center-content-left {
    background: #FFFFFF14;
}

aside.ant-layout-sider.ant-layout-sider-darkmode.dashboard-sidebar-routes.dark_mode_background {
    background: #0a043c !important;
}

ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark {
    background: #0a043c !important;
}

@media only screen and (max-width: 600px){
  .dash-center-content-left{
    display: none;
  }
}

.ant-picker-calendar.ant-picker-calendar-mini.calendar-content {
    background: transparent !important;
    overflow: hidden;
    height: 50vh !important;
}

ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.ant-menu-inline-collapsed {
    background: #0a043c;
}

.switch-content{
    width: 30% !important;
    height: 6%;
}

button.ant-switch.ant-switch-checked,button.ant-switch {
    background: #CCD1FF34;
    width: 92%;
    border-radius: 8px !important;
    padding: 0.3em !important;
    height: 5vh;
}

.ant-switch-checked .ant-switch-inner,span.ant-switch-inner {
    margin: 0 25px 0 7px;
    color: #2b39b9c7;
    font-weight: 500;
    font-size: 1em;
}

span.ant-switch-inner{
  margin-left: 2em !important;
}

.ant-switch-handle {
    position: absolute !important;
    top: 5px !important;
    left: 2px;
    width: 26px !important;
    height: 26px !important;
    transition: all 0.2s ease-in-out;
}

thead.staff-table .ant-table-thead {
    display: none;
}

.staff-table{
  margin-top: 2em;
}

.staff-table .ant-table-row.staff-table .ant-table-row-level-0 {
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #3565d329;
    border: 1px solid #0074890D;
    border-radius: 8px;
    padding-top: 1em !important;
}

.staff-table thead.ant-table-thead {
    display: none;
}

.staff-table tr {
    box-shadow: 0px 2px 2px #3565d329;
    border: 1px solid #0074890D;
    border-radius: 8px;
}

.table-pic-img{
    height: 2.3em;
    width: 2.3em;
    border: none;
    border-radius: 100%;
}

.ant-image {
  width: 34px !important;
}

.rate-button-table{
  color: #1B27AF;
  font: normal normal 600 1em Poppins;
  text-decoration: none;
}

span.ant-typography.table_name {
    font-weight: 500;
}

.staff-table .ant-table, .students-table .ant-table {
    background: transparent !important;
}

.staff-table .ant-table-tbody > tr > td {
    border-bottom: none !important;
    cursor: pointer;
}

.dark_mode_background span.ant-typography.table_name {
    font-weight: 500;
    color: #8a8a8a !important;
}

.dark_mode_background .rate-button-table {
    color: #03d2d3 !important;
}

.dark_mode_background .ant-switch-checked .ant-switch-inner, .dark_mode_background span.ant-switch-inner {
    color: #00ffeb !important;
}

.dark_mode_background button.ant-pagination-item-link {
    background: transparent !important;
    color: #909090 !important;
    border: 1px solid #5a5a5a !important;
}

button.ant-btn.poppins_font.table-action-button {
    background: #1B27AF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border: none;
    color: white;
    font: normal normal 600 0.8em Poppins;
    width: 8em;
    height: 3.2em;
    float: right;
}

.ant-modal-footer {
    display: none;
}

div#rcDialogTitle1 {
    text-align: center;
    color: #1B27AF;
    font: normal normal 600 1.6em Euclid Circular B;
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

span.ant-upload-picture-card-wrapper.avatar-uploader {
    width: 30%;
    margin-left: 35%;
}

.ant-upload.ant-upload-select.ant-upload-select-picture-card {
    box-shadow: 0px 3px 6px #051d5329;
    background: white;
    border-radius: 100%;
    border: none;
}

.model-form-container{
  margin: 2em 3em;
}

.model-form-container input{
    background: #00349621 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 0.76;
    padding: 1em 1em;
}

.model-form-container .ant-select-selector{
    background: #00349621 0% 0% no-repeat padding-box !important;
    border-radius: 8px !important;
    opacity: 0.76;
    height: 1em !important;
}

.model-form-container button{
    background: #1B27AF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border: none;
    width: 11em;
    height: 3.6em;
    font: normal normal 600 1em Poppins;
    margin-left: 8em;
}

.model-form-container input::placeholder{
  font: normal normal normal 15px/83px Poppins;
  letter-spacing: 1.05px;
  color: #1B27AF;
  opacity: 0.5;  
}

.model-form-container .ant-select-selector {
    background: #00349621 0% 0% no-repeat padding-box !important;
    border-radius: 8px !important;
    opacity: 0.76;
    height: 3em !important;
}

span.ant-select-selection-item {
    font: normal normal normal 15px/83px Poppins;
    letter-spacing: 1.05px;
    color: #1B27AF;
    opacity: 0.5;
    padding-top: 0.5em !important;
}

.model-form-container .options{
  font: normal normal medium 11px/1px Poppins !important;
  letter-spacing: 0px !important;
  color: #1B27AF !important;
}

.dark_mode_background h1.ant-typography.main-header {
    color: white !important;
}

.choose-date-container .ant-picker {
    border: 1px solid #C5D9DB;
    border-radius: 8px;
    background: transparent;
}

.dark_mode_background .choose-date-container .ant-picker {
    border: 1px solid #c5d9db4d;
}

.choose-date-container .ant-picker input {
    font: normal normal normal 14px/18px Euclid Circular B !important;
    color: #080000 !important;
}

.dark_mode_background .choose-date-container .ant-picker input {
    font: normal normal normal 14px/18px Euclid Circular B !important;
    color: #c4c4c4 !important;
}

button.ant-picker-header-super-prev-btn {
    display: none;
}

button.ant-picker-header-super-next-btn {
    display: none;
}

.ant-picker-footer {
    display: none;
}

.ant-picker-body {
    padding: 2em 2em !important;
}
 .ant-picker-body {
    font-size: 0.8em;
}

.students-table{
  width: 53.6vw !important;
}

.students-table th.ant-table-cell {
    font: normal normal 600 0.8em Poppins !important;
    color: #0028AF !important;
    text-transform: uppercase !important;
    background: #3946BD0F 0% 0% no-repeat padding-box !important;
    border: 1px solid #FFFFFF !important;
}

.students-table td.ant-table-cell {
    background: #e5e5e526 0% 0% no-repeat padding-box !important;
    border-top: 4px solid white !important;
    font-size: 0.9em !important;
    border: none !important;
}

.students-table span.ant-typography.id {
    font: normal normal bold 14px/21px Poppins;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
}

.students-table span.ant-typography.full-name {
    margin-left: 1em;
    font-family: 'Poppins';
    letter-spacing: 0px;
    color: #5760AC;
    font-weight: 500;
}

.students-table span.ant-typography.email {
    margin-left: 1em;
    color: #77838F;
}

.students-table span.ant-typography.company {
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #5760AC;
}

.students-table span.ant-typography.date-joined {
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #5760AC;
    opacity: 0.46;
}

.students-table .ant-table-container table > thead > tr:first-child th:first-child {
    border-top-left-radius: 9px;
}

.students-table .ant-table-container table > thead > tr:first-child th:last-child{
    border-top-right-radius: 9px;
}

.dark_mode_background .students-table .ant-table-container table > thead > tr:first-child th {
    border: 1px solid #0c035b !important;
    color: #1a27af !important;
}

.dark_mode_background .students-table span.ant-typography.id {
    color: white !important;
}

.dark_mode_background  .students-table span.ant-typography.date-joined {
    color: white !important;
}

img.ant-image-img.company-pic-img {
    height: 9em;
    width: 9em;
    margin-left: 12em;
    border-radius: 100%;
}

.rate-model h1.ant-typography.poppins_font {
    text-align: center;
    font-size: 1.6em;
    margin-top: 1em;
}

.rate-model h5.ant-typography {
    text-align: center;
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0.84px;
    color: #777777;
    opacity: 0.5;
    width: 49%;
    margin: auto;
}

.rate-model .ant-space.ant-space-horizontal.ant-space-align-center.margin_top-10 {
    padding-top: 2em;
    margin-left: 11em;
}

.rate-model span.ant-typography.poppins_font.rates {
    letter-spacing: 1.29px;
    color: #1E2022;
    font-size: 1.3em;
    font-weight: 500;
    padding-top: 1em;
}
.add-rate-button{
  background: #1B27AF 0% 0% no-repeat padding-box;
  border-radius: 8px;
  font: normal normal 600 22px/33px Poppins;
  letter-spacing: 0px;
  color: #F5F5F5;
  text-align: center;
}

.rate-model .add-rate-button {
    background: #1B27AF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    font: normal normal 600 1.2em Poppins;
    letter-spacing: 0px;
    color: #F5F5F5;
    text-align: center;
    position: relative;
    top: 2em;
    left: 8em;
    height: 3em;
    width: 11em;
    border: none;
}

.rate-model .ant-modal-body {
    height: 63vh;
}

.dark_mode_background .chart-container h3 {
    color: white !important;
}

.dark_mode_background svg rect {
    fill: #00ffeb !important;
}


.ant-modal-header,.ant-modal-title{
    text-align: center;
    color: #1B27AF !important;
    font: normal normal 600 1.4em Euclid Circular B !important;
}