@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Euclid Circular B;
    src:local('./')
}


.d-flex{
    display: flex;
}

.dark_blue_color{
    color: #1B27AF;
}

.dark_blue_background{
    background-color: #1B27AF;
}

.light_blue_color{
    color: #1769FF;
}

.pure_white_color{
    color: #FFFFFF !important;
}

.dark_mode_background{
    background-color: #0A043C !important;
}

.pure_white_background{
    background-color: #FFFFFF;
}

.light_green_color{
    color: #00FFEB !important;
}

.dark_black_color{
    color: #000000;
}

.semi_dark_black_color{
    color: #484848;
}

.semi_dark_black_background{
    background-color: #6C6C6C29 !important;
}


.red_color{
    color: #FF0000 !important;
}

.text-center{
    text-align: center;
}

.medium_darl_black_color{
    color: #707070;
}

.navbar_link_color{
    color: #ACB8C1;
}

.font-sm{
    font-size: 16px;
}

.poppins_font{
  font-family: Poppins;
}

.euclid_circular_b_font{
    font-family: 'Euclid Circular B';
}

.glaylike_background_color{
    background-color: #F6F6FF;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #1B27AF !important;
}

.margin_top_10 {
    margin-top: 1em !important;
}

.margin_left_10 {
    margin-left: 1em;
}

.no_margin_left{
    margin-left: 0 !important;
}

.bg_transparent{
    background: rgba(255, 255, 255, 0.062) !important;
}

.cursor_pointer{
    cursor: pointer;
}

.font_weight_normal{
    font-weight: 600;
}

.dark_hard_blue_color{
    color: #000860;
}

/* TYPOGRAPHY */
​
.txt_large{
    font-size: 64px;
    font-weight: 700;
    line-height: calc(64px * 1.5);
}
​
.txt_heading{
    font-size: 56px;
    font-weight: 700;
    line-height: calc(56px * 1.5);
}
​
​
.title_text {
    font-size: 48px;
    font-weight: 600;
    line-height: calc(48px * 1.618);
    margin-bottom: 0px;
}
​
.txt_title{
    font-size: 36px;
    font-weight: 700;
    line-height: calc(36px * 1.5);
}
​
.txt_subtitle{
    font-size: 24px;
    line-height: calc(24px * 1.5);
}
​
.txt_normal{
    font-size: 18px;
    font-weight: 300;
    line-height: calc(18px * 2);
}
​
.txt_caption{
    font-size: 11px;
    line-height: calc(14px * 2);
}
​
​
​
/* FONT WEIGHT */
​
.txt_font_weight_100{
    font-weight: 100;
}
​
.txt_font_weight_300{
    font-weight: 300 !important;
}
​
.txt_font_weight_500{
    font-weight: 500 !important;
}
​
.txt_font_weight_700{
    font-weight: 700;
}
​
​
​
/* COLORS */
​
.txt_blue{
    color: #1769FF
}
​
.txt_white{
    color: #FFFFFF
}
​
.txt_aqua{
    color: #00FFEB;
}
​
.txt_black{
    color: #000000 !important;
}
​
.txt_grey{
    color: #707070;
}
​
​
​
/* BACKGROUND COLORS */
​
.bg_white{
    background-color: #ffffff;
}
​
.bg_grey{
    background-color: #F6F6FF;
}
​
.bg_blue{
    background-color: #1B27AF;
}
​
​
​
/* FORMS */
​
.form_input{
    border-radius: 0;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.09);
    height: 48px;
}
​
.form_textarea{
    border-radius: 0;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.09);
    min-height: 128px;
    width: 100%;
}
​
.round_img{
    border-radius: 50%;
}
​
​
​
/* BUTTONS */
​
.btn_primary{
    border-radius: 6px;
    min-width: 200px;
    padding: 16px 56px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1769FF;
    color: #00FFEB;
    border: 1.5px solid #1769FF;
}
​
.btn_secondary{
    border-radius: 6px;
    min-width: 200px;
    padding: 16px 56px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    color: #FFFFFF;
    border: 1.5px solid #ffffff;
}
​
.btn_primary:hover,
.btn_secondary:hover{
    border-radius: 6px;
    min-width: 200px;
    padding: 16px 56px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #00FFEB;
    color: #1769FF;
    border: 1.5px solid #00FFEB;
}
​
.btn_small{
    min-width: 150px;
    padding: 12px 32px;
    font-size: 12px;
}
​
​
​
/* SPACING */
​
.pad0{
    padding: 0px;
}
​
.pad16{
    padding: 16px;
}
​
.pad32{
    padding: 32px;
}
​
.pad64{
    padding: 64px;
}
​
​
.mabo0{
    margin-bottom: 0px;
}
​
.mal4{
    margin-left: 4px;
}
​
.malo16{
    margin-left: 16px;
}
​
.mal32{
    margin-left: 32px;
}
​
.malo62{
    margin-left: 62px;
}
​
.malo120 {
    margin-left: 120px;
}
​
.mabo16{
    margin-bottom: 16px;
}
​
.mabo32{
    margin-bottom: 32px;
}d
​
.mabo64{
    margin-bottom: 64px;
}
​
​
.mato0{
    margin-top: 0px;
}
​
.mato08{
    margin-top: 8px !important;
}
​
.mato16{
    margin-top: 16px;
}
​
.mato32{
    margin-top: 32px;
}
​
.mato64{
    margin-top: 64px;
}
​
.matb64{
    margin-top: 64px !important;
    margin-bottom: 64px !important;
}
​
/* other styles */
​
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-bottom: 2px solid #c12b3d !important;
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%) inset, 0 0 0px rgb(126 239 104 / 0%) !important;
    outline: 0 none !important;
    background: transparent;
}
​
.red_button_outline {
    border-radius: 0px;
    color: #c12b3d;
    background: transparent;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 24px;
    min-width: 150px;
    border: 2px solid #c12b3d;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
​
.red_button {
    border-radius: 0px;
    color: #fff;
    background: #c12b3d;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 24px;
    min-width: 150px;
    border: 2px solid #c12b3d;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
​
.red_link_button {
    color: #c12b3d;
    border-radius: 0px;
    background: transparent;
    font-size: 13px;
    font-weight: 600;
    padding-left: 0px;
    padding-right: 0px;
    padding: 8px 0;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
​
.mr-4 {
    margin-right: 1.5rem!important;
}
​
.red_button:hover, .red_button_outline:hover, .nav-button:hover {
    background: #8b1f2c;
    border: 2px solid #8b1f2c;
    color: #fff;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
​
.normal_text {
    font-size: 12px  !important;
    line-height: calc(12px * 1.618)  !important;
    margin-bottom: 0px  !important;
}
​
.white{
    color: white !important;
}
​
.subtitle_text {
    font-size: 24px;
    font-weight: 600;
    line-height: calc(24px * 1.618);
    margin-bottom: 0px;
}
​
.form_input_search {
    width: 100%;
    height: 35px;
    border: 0;
    border: 1px solid #f5f8fa;
    border-radius: 0px;
    background: #f5f8fa;
    padding-left: 16px;
    color: #000 !important;
    font-size: 12px;
    box-shadow: none;
}
​
.underlined_text{
    border-bottom: 1px solid rgb(122, 122, 122);
}